body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #f1f1f1;
    text-align: left;
    padding: 5px 0;
    width: 1450px;
}
.menu a {
    margin: 0 10px;
    font-size: 14px;
}
.container {
    display: flex;
}

.danh_muc {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 20px;
    border-right: 1px solid #000;
}

.content {
    flex:1;
    padding: 10px;
}

.bai_viet_noi_bat table {
    width: 100%;
    text-align: left;
    font-size: 20px;
}
.noi_dung{
    font-size: 15px;
    font-style: italic;
}
.bai_viet_noi_bat img {
    width: 610px;
    height: 610px;
}

.bai_viet_noi_bat button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    font-size: 20px;
}

.bai_viet_noi_bat button:hover {
    background-color: #0056b3;
}

footer {
    display: table;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}
.ten{
    font-size: 25px;
    font-weight: bold;
}